@charset "utf-8";
:root {
    --color1: #CCCCFF;
    --color2: #6495ED;
    --color3: #40E0D0;
    --color4: #9FE2BF;
    --color5: #DE3163;
    --color6: #FF7F50;
    --color7: #FFBF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid var(--color2);
    background-color: var(--color1);
    transition: border-radius 2s ease-in,
    border 1s ease-in-out,
    background-color 3s linear;
}

.box:hover {
    border-radius: 50%;
    background-color: var(--color3);
    border: 5px solid var(--color4);
}