@charset "utf-8";
:root {
    --color1: #CCCCFF;
    --color2: #6495ED;
    --color3: #40E0D0;
    --color4: #9FE2BF;
    --color5: #DE3163;
    --color6: #FF7F50;
    --color7: #FFBF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 955px;
    height: 221px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper svg {
    animation:end 0.5s linear 2s forwards;
}
.wrapper path {
    animation: animation 1s linear forwards;
}
@keyframes animation {
    to {
        stroke-dashoffset: 0;
    }

}
@keyframes end {
    to {
        fill: var(--color5);
    }
}
.wrapper path:nth-child(1) {
    stroke-dasharray: 498px;
    stroke-dashoffset: 498px;
}
.wrapper path:nth-child(2) {
    stroke-dasharray: 437px;
    stroke-dashoffset: 437px;
    animation-delay: 0.5s;
}
.wrapper path:nth-child(3) {
    stroke-dasharray: 321px;
    stroke-dashoffset: 321px;
    animation-delay: 1s;
}
